<div class="center-container">
  <div class="questionDetails">

    <h3 class="caps">{{model.content}}</h3>
    <h5>(notes: {{model.notes}})</h5>
    <h5>Submitted by: {{model.author}}</h5>
  </div>

<div class="replies">
  <h5>Replies to this question:</h5>
  <h4>
    {{#each model.answers as |answer|}}
    <li class="list">{{answer.author}} reply was: "{{answer.content}}"</li>
    {{/each}}
  </h4>
</div>

<br>
{{update-question question=model updateQuestion="updateQuestion" destroyQuestion="destroyQuestion"}}
<button class="btn btn-danger" {{action 'destroyQuestion' model}}>Delete</button>

{{new-answer question=model answer=answer saveAnswer2="saveAnswer3"}}
</div>
